/* fonts */
@import url("https://fonts.googleapis.com/css2?family=Berkshire+Swash&family=Roboto:wght@100;300;400;500;700;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* as theme color */
:root {
  --primary: #ff4000;
}

body {
  position: relative;
  background: #ffffff;
  font-family: "Roboto", sans-serif;
  width: 100%;
  min-height: 100vh;
  overflow: hidden;
}

/* Header & Navigation */
header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 20px 100px;
  z-index: 20;
  background: #ffffff;
  box-shadow: 50px 50px 50px 50px rgba(255, 255, 255, 0.8);
}

.logo {
  font-size: 2.5em;
  color: #000000;
  letter-spacing: 2px;
  font-weight: 800;
  width: 60px;
  height: 60px;
  padding: 15px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo:active {
  box-shadow: inset 5px 5 px 100px rgba(0, 0, 0, 0.1);
}

/* search bar */
.search {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 60px;
  height: 60px;
  padding: 10px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.5s;
}

.search:active {
  box-shadow: inset 5px 5px 10px rgba(0, 0, 0, 0.1);
}

.search ion-icon {
  font-size: 2em;
  color: #000000;
  cursor: pointer;
  transition: 0.5s;
}

.search ion-icon:hover {
  color: var(--primary);
}

.search input {
  display: none;
}

/* activate animation with js */
.search.active {
  width: 300px;
  border-radius: 50px;
  justify-content: flex-start;
}

.search.active input {
  display: block;
  width: 100%;
  outline: none;
  border: none;
  padding: 10px;
}

.bar {
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav {
  display: flex;
  align-items: center;
  margin-right: 50px;
}

.nav li {
  list-style: none;
  margin: 0 20px; ;
}

.nav li a,
.nav-mobile li a {
  color: #000000;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 500;
  cursor: pointer;
  transition: 0,3s;
  padding: 10px;
}

.nav li:hover a,
.nav-mobile li:hover a {
  color: var(--primary);
}

.check-out {
  position:relative;
  width: 60px;
  height: 60px;
  padding: 10px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.5s;
}

.check-out:active {
  box-shadow: inset 5px 5px 10px rgba(0, 0, 0, 0.1);
}

.check-out ion-icon {
  font-size: 2em;
  color: #000000;
  cursor: pointer;
  transition: 0.5s;
}

.check-out span {
  position: absolute;
  width: 20px;
  height: 20px;
  padding: 5px;
  background: var(--primary);
  color: #ffffff;
  font-weight: 300;
  font-size: 0.8em;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  right: 5px;
  bottom: 10px;
}

.menu {
  display: none;
  color: #000000;
  font-size: 2em;
  z-index: 100;
}


.nav-mobile {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 20;
  transition: 0.5s;
  opacity: 0;
  visibility: hidden;
  transform: translateX(100%);
}

.nav-mobile li {
  list-style: none;
  margin-bottom: 20px;
}



